.reset-button{
    border:none;
    border-radius: 0.5rem;
    background-color:rgb(29, 50, 232) ;
    color:white;
    font-size:2rem ;
    padding:0.5rem 1rem;
    margin:2rem auto;
    display:block
}
